# .gitignore
__pycache__/
*.pyc
new_tiles*/
labels*.json
template_labels.json
annotated_*.jpg
result_*.jpg
match_*.jpg
edges.jpg
mask_bottom.jpg
bottom_strip.jpg
hand_strip.jpg
templates_gen/
templates_gen_preview.jpg
*_preview.jpg
tile_labels.json
new_labels.json
labels2.json
labels3.json
labels4.json
labels5.json
labels6.json
labels7.json
labels8.json
labels9.json
labels10.json
labels11.json
labels12.json
